.ratingTable__wrapper {
    height: 800px;
}

.ratingTable__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

.header_title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    color: #1E1E1E;
}